@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

   --primary-color: #FF8D41;
   --white-color: #ffffff;
   --black-color: #212121;

}

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   transition: .5s;
   overflow-wrap: break-word;
}

html,
body {
   background-color: #EBEBEB;
   overflow-x: hidden;
   width: 100vw;
   height: 100vh;
   color: var(--black-color);
   font-family: "Rubik", serif;
   scroll-behavior: smooth;
}

@media only screen and (max-width: 480px) {
   #notice {
      display: none;
   }

   #main {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: start;
      padding: 35px 0 0 0;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      align-items: center;
      gap: 2rem;
      overflow: scroll;
      scrollbar-width: 0px;
      scrollbar-color: transparent transparent;

      #nav {
         width: 100%;
         height: fit-content;
         padding: 0 24px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: absolute;

         #centerLogo {
            font-size: 1rem;
            font-weight: 500;
            color: #424242;
         }
      }

      #productContainer {
         height: 100%;
         width: 100%;
         display: flex;
         flex-direction: column;

         #upperContainer {
            display: flex;
            width: 100%;
            height: 45%;
            padding: 12px 24px;
            justify-content: center;
            align-items: end;
            gap: 8px;
            overflow: scroll;
            background-image: url(../Assets/Images/bg.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            #imgContainer {
               height: 44px;
               width: 44px;
               display: flex;
               justify-content: center;
               align-items: center;
               overflow: hidden;
               background-color: #EBEBEB;
               border-radius: 8px;
               border: 1.5px solid #FFFFFF;

               img {
                  height: 37px;
                  width: 34px;
               }

               &:first-child {
                  border-color: #FF8D41;
               }
            }
         }

         #lowerContainer {
            height: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            padding: 16px 24px 35px 24px;

            #topContainer {
               height: fit-content;
               width: 100%;
               display: flex;
               flex-direction: column;

               #heading {
                  height: fit-content;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: start;
                  margin-bottom: 12px;

                  #titles {
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     gap: 8px;

                     #name {
                        color: #424242;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.2px;
                     }

                     #category {
                        color: #9E9E9E;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                     }
                  }
               }

               #price {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  gap: 12px;
                  margin-bottom: 16px;

                  #finalPrice {
                     color: #424242;
                     font-size: 18px;
                     font-weight: 600;
                     line-height: 140%;
                     letter-spacing: 0.2px;
                  }

                  #discountedPrice {
                     color: #FF4C51;
                     font-size: 14px;
                     font-weight: 500;
                     line-height: 140%;
                     letter-spacing: 0.2px;
                     text-decoration-line: line-through;
                  }
               }

               #size {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  gap: 12px;
                  margin-bottom: 16px;
               }

               #detail {
                  width: 100%;
                  height: fit-content;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  color: #9E9E9E;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 140%;
                  letter-spacing: 0.2px;
                  overflow: hidden;
                  position: relative;
               }

               #detail.read-more:after {
                  content: " Read More";
                  color: #212121;
                  cursor: pointer;
               }

               #detail.full-text {
                  -webkit-line-clamp: unset;
                  overflow: unset;
               }
            }

            #bottomContainer {
               height: fit-content;
               width: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 12px;

               #addTocart {
                  order: 2;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 999999px;
                  background: #FF8D41;
                  color: #ffffff;
                  flex-grow: 1;
                  font-size: 14px;
                  font-weight: 600;
               }

               #buttons {
                  order: 1;
                  height: fit-content;
                  width: fit-content;
                  display: flex;
                  flex-direction: row;
                  padding: 8px;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border-radius: 999999px;
                  background: #FAFAFA;
               }
            }
         }
      }
   }
}

@media (min-width: 481px) and (max-width: 600px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}

@media (min-width: 601px) and (max-width: 768px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}

@media (min-width: 769px) and (max-width: 992px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}

@media (min-width: 993px) and (max-width: 1200px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}

@media (min-width: 1201px) and (max-width: 1600px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}

@media (min-width: 1601px) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
   }

   #notice {
      display: block;
   }

   #main {
      display: none;
   }
}